.rating {
	display: inline-flex;
	width: 116px;

	&__body {
		position: relative;
		width: 100%;
		height: 20px;

		@include stars-not-full;
	}

	&__active {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		overflow: hidden;
		z-index: 1;

		@include stars-full;
	}
}
