.intro {
	.swiper {
		border-radius: rem(16);
	}

	&__slide {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: rem(74);
		border-radius: rem(16);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;
		color: var(--light-color);

		&-box {
			max-width: rem(645);
			width: 100%;
		}

		&-title {
			font-family: 'open sans', sans-serif;
			font-size: rem(48);
			line-height: rem(56);
			font-weight: 700;
		}

		&-text {
			margin-top: rem(24);
			font-weight: 400;
			line-height: 24px;
			text-align: left;
			opacity: 0.8;
		}

		&-btns {
			width: fit-content;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-top: rem(42);
			gap: rem(16);
		}

		&-card {
			display: block;
			padding: rem(25);
			max-width: rem(352);
			width: 100%;
			border-radius: var(--bs-radius);
			background-color: var(--light-color);
			overflow: hidden;
			z-index: 1;
			transform-style: preserve-3d;
			transform: perspective(1000px);

			&-features {
				display: flex;
				gap: rem(12);
			}

			&-feature {
				display: flex;
				align-items: center;
				gap: rem(8);

				.icon {
					width: rem(22);
					height: rem(20);
				}

				& > div {
					display: flex;
					flex-direction: column;
					font-size: rem(12);
					font-weight: 500;

					span {
						font-size: rem(14);
						font-weight: 600;
					}
				}

				&:nth-child(1) {
					background-color: rgba(#f89531, 0.15);
					color: var(--accent-color);

					&.--orange {
						fill: var(--accent-color);
					}
				}

				&:nth-child(2) {
					background-color: rgba(#005aa9, 0.15);
					color: var(--primary-color);

					&.--blue {
						fill: var(--primary-color);
					}
				}
			}

			&-img {
				@extend %flex-center;
				max-width: rem(275);
				min-height: rem(255);
				margin: 0 auto rem(10) auto;
				overflow: hidden;

				img {
					transform: translateZ(80px);
					object-fit: cover;
					object-position: center;
				}
			}

			&-bottom {
				display: flex;
				justify-content: space-between;
				margin-bottom: rem(10);
				gap: 12px;
				font-size: rem(18);
				line-height: rem(24);
				color: var(--bs-font-color);
			}
		}
	}
}
